.satellite__wrapper{
  //display: flex;
  //flex-direction: row;
  //flex-wrap: wrap;
  //width: 70%;
  //margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  //margin-right: 20px;
}

@media (max-width: 449px) {
  .satellite__wrapper{
    align-items: center;
    justify-content: center;
  }
}
//width: 320px;
//height: 450px;