.satellite__wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (max-width: 449px) {
  .satellite__wrapper{
    align-items: center;
    justify-content: center;
  }
}