@import '../variables';


.button {
  display: inline-block;
  background-color: black;
  font-weight: bolder;
  color: white;
  text-align: center;
  padding: 10px 20px;
  border-radius: 25px;
  border: 2px solid black;
  cursor: pointer;


  &:hover {
    background-color: #f2f2f2;
    color: black;
    border: 2px solid black;
  }

  @media (max-width: 655px) {
    display: block;
    padding: 4px 0;
    border-radius: 0;
    margin-bottom: 10px;
    width: 100%;
  }

}

.set {
  width: 111px;
}

.addSet {
  margin-bottom: 30px;
}

.cart__qv__bottom {
  display: block;
}

.cart__pay {
  display: block;
  background-color: #0070ba;
  border: 2px solid #0070ba;
  margin: 10px 20px 0 20px;

  &:hover {
    background-color: #ffffff;
    border: 2px solid #0070ba;
    color: #0070ba;
  }

  @media (max-width: 700px) {
    margin: 5px 0 0 0;
  }
}

.cart__promo {
  max-width: 200px;
  margin: 10px 0;
}