$black: #232323;
//$background: #ffdf8c;
//$background: #ffffff;
$background: #f2f2f2;
$gray-line: #070707;
$orange: #fe5f1e;
$--Dark_Shade_100: #1F2041;
$--Dark_Shade_75: rgba(31, 32, 65, 0.75);
$--Dark_Shade_50: rgba(31, 32, 65, 0.5);
$--Dark_Shade_25: rgba(31, 32, 65, 0.25);
$--Dark_Shade_5: rgba(31, 32, 65, 0.05);

$container-width: 90%;

$duration: 0.15s;
